.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
    word-wrap: break-word;
}

.wy-nav-content {
    max-width: none;
}

.wy-side-nav-search {
    background-color: #017c83;
}


.wy-menu-vertical header, .wy-menu-vertical p.caption
{
    color: #017c83;
}